In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('energydata_complete.csv')
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [3]:
df.describe(include='all')

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
count,19735,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,...,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
unique,19735,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,2016-04-18 18:10:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,97.694958,3.801875,21.686571,40.259739,20.341219,40.420420,22.267611,39.242500,20.855335,...,19.485828,41.552401,7.411665,755.522602,79.750418,4.039752,38.330834,3.760707,24.988033,24.988033
std,NaN,102.524891,7.935988,1.606066,3.979299,2.192974,4.069813,2.006111,3.254576,2.042884,...,2.014712,4.151497,5.317409,7.399441,14.901088,2.451221,11.794719,4.194648,14.496634,14.496634
min,NaN,10.000000,0.000000,16.790000,27.023333,16.100000,20.463333,17.200000,28.766667,15.100000,...,14.890000,29.166667,-5.000000,729.300000,24.000000,0.000000,1.000000,-6.600000,0.005322,0.005322
25%,NaN,50.000000,0.000000,20.760000,37.333333,18.790000,37.900000,20.790000,36.900000,19.530000,...,18.000000,38.500000,3.666667,750.933333,70.333333,2.000000,29.000000,0.900000,12.497889,12.497889
50%,NaN,60.000000,0.000000,21.600000,39.656667,20.000000,40.500000,22.100000,38.530000,20.666667,...,19.390000,40.900000,6.916667,756.100000,83.666667,3.666667,40.000000,3.433333,24.897653,24.897653
75%,NaN,100.000000,0.000000,22.600000,43.066667,21.500000,43.260000,23.290000,41.760000,22.100000,...,20.600000,44.338095,10.408333,760.933333,91.666667,5.500000,40.000000,6.566667,37.583769,37.583769
max,NaN,1080.000000,70.000000,26.260000,63.360000,29.856667,56.026667,29.236000,50.163333,26.200000,...,24.500000,53.326667,26.100000,772.300000,100.000000,14.000000,66.000000,15.500000,49.996530,49.996530

In [4]:
from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()

X = df[['T2']]
y = df['T6']

linear_model.fit(X,y)
predicted_values = linear_model.predict(X)
from sklearn.metrics import r2_score
r2_score = r2_score(y, predicted_values)
round(r2_score, 2)

0.64

In [5]:
df.drop(columns=['date','lights'], inplace=True)
df.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [6]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalised_df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
features_df = normalised_df.drop(columns=['Appliances'])
heating_target = normalised_df['Appliances']

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features_df, heating_target,
test_size=0.3, random_state=42)

linear_model.fit(x_train, y_train)
predicted_values = linear_model.predict(x_test)

In [7]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_values)
round(mae, 2)

0.05

In [8]:
rss = np.sum(np.square(y_test - predicted_values))
round(rss, 2)

45.35

In [9]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

0.088

In [10]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 2)

0.15

In [11]:
def get_weights_df(model, feat, col_name):
#this function returns the weight of every feature
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

linear_model_weights = get_weights_df(linear_model, x_train, 'Linear_Model_Weight')

df_1 = linear_model_weights

df_1.sort_values(by='Linear_Model_Weight')

       Features  Linear_Model_Weight
0           rv1        -2.947375e+10
1          RH_2        -4.567267e-01
2         T_out        -3.218675e-01
3            T2        -2.362102e-01
4            T9        -1.899489e-01
5          RH_8        -1.576046e-01
6        RH_out        -7.766786e-02
7          RH_7        -4.460378e-02
8          RH_9        -3.979767e-02
9            T5        -1.565445e-02
10           T1        -3.281051e-03
11  Press_mm_hg         6.849423e-03
12           T7         1.031274e-02
13   Visibility         1.230431e-02
14         RH_5         1.600948e-02
15         RH_4         2.638092e-02
16           T4         2.899034e-02
17    Windspeed         2.919235e-02
18         RH_6         3.805482e-02
19         RH_3         9.604584e-02
20           T8         1.019968e-01
21    Tdewpoint         1.177598e-01
22           T6         2.364418e-01
23           T3         2.906590e-01
24         RH_1         5.535594e-01
25          rv2         2.947375e+10

In [12]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train, y_train)
predicted_values_1 = ridge_reg.predict(x_test)
rmse = np.sqrt(mean_squared_error(y_test, predicted_values_1))
round(rmse, 3)

0.088

In [13]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)
predicted_values_2 = lasso_reg.predict(x_test)
rmse = np.sqrt(mean_squared_error(y_test, predicted_values_2))
round(rmse, 3) #prints 0.089

0.094

In [14]:
lasso_weights_df = get_weights_df(lasso_reg, x_train, 'Lasso_weight')
final_weights = pd.merge(linear_model_weights, lasso_weights_df, on='Features')
final_weights

       Features  Linear_Model_Weight  Lasso_weight
0           rv1        -2.947375e+10     -0.000000
1          RH_2        -4.567267e-01     -0.000000
2         T_out        -3.218675e-01      0.000000
3            T2        -2.362102e-01      0.000000
4            T9        -1.899489e-01     -0.000000
5          RH_8        -1.576046e-01     -0.000110
6        RH_out        -7.766786e-02     -0.049557
7          RH_7        -4.460378e-02     -0.000000
8          RH_9        -3.979767e-02     -0.000000
9            T5        -1.565445e-02     -0.000000
10           T1        -3.281051e-03      0.000000
11  Press_mm_hg         6.849423e-03     -0.000000
12           T7         1.031274e-02     -0.000000
13   Visibility         1.230431e-02      0.000000
14         RH_5         1.600948e-02      0.000000
15         RH_4         2.638092e-02      0.000000
16           T4         2.899034e-02     -0.000000
17    Windspeed         2.919235e-02      0.002912
18         RH_6         3.805482e-02     -0.000000
19         RH_3         9.604584e-02      0.000000
20           T8         1.019968e-01      0.000000
21    Tdewpoint         1.177598e-01      0.000000
22           T6         2.364418e-01      0.000000
23           T3         2.906590e-01      0.000000
24         RH_1         5.535594e-01      0.017880
25          rv2         2.947375e+10     -0.000000

In [15]:
final_weights['Lasso_weight'].notnull().sum()

26